## Visual Studio & .NET temporary files and build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
publish_output/

# SQLite databases
*.db
*.db-shm
*.db-wal
crash_log.txt
crash.log

# User-specific files
*.user
*.suo
*.userosscache
